html,
body {
  height: auto;
  overflow-y: auto;
}
body {
  background-color: #fff;
  width: 210mm;
  margin: 0 auto;
  font-family: 'lucida Grande', Verdana, 'Microsoft YaHei';
}
.ivu-layout {
  background-color: #fff;
}
.sws_container {
  height: 100%;
  top: 0;
  bottom: 0;
  color: #000 !important;
}
.print_class {
  font-size: 12px;
}

.print_class td {
  padding: 2px;
  color: #000 !important;
  border-color: #000 !important;
  * {
    color: #000 !important;
  }
  .ivu-select-selection {
    background: none !important;
    border-bottom: none !important;
    font-weight: bold !important;
    color: #000 !important;
  }
  input {
    font-weight: bold !important;
    color: #000 !important;
    //      border-bottom: none !important;
    background: none !important;
  }
  .input {
    font-weight: bold !important;
    color: #000 !important;
    //      border-bottom: none !important;
    background: none !important;
  }
  .ivu-input-number-handler-wrap {
    display: none;
  }
  .ivu-input-number-small input {
    padding: 0;
    text-align: center;
  }
  .ivu-select-single .ivu-select-selection .ivu-select-placeholder,
  .ivu-select-single .ivu-select-selection .ivu-select-selected-value {
    padding-right: 0;
    margin-right: -17px;
  }
}
.print_class td textarea {
  resize: none;
}
.print_class td .ivu-select-arrow {
  display: none;
}
.bobn input {
  border-bottom: none;
}
.ivu-input[disabled],
fieldset[disabled] .ivu-input {
  background-color: #fff;
  color: #515a6e;
}
.ivu-layout-header {
  background: #fff;
}
.ivu-loading-bar-inner-color-primary {
  display: none;
}
.spInp {
  textarea {
    font-size: 12px !important;
    text-align: left !important;
  }
}

table.border {
  width: 100%;
  border-collapse: collapse;
  tr,
  td,
  th {
    border: 1px solid #000;
  }
  &.center {
    td,
    th {
      text-align: center;
    }
  }
}
